<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Sybase.Core.Util" publicKeyToken="65afb196693a8d18" culture="neutral" />
        <bindingRedirect oldVersion="1.6.0.0-1.6.2.0" newVersion="1.6.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sybase.Modeling.Net" publicKeyToken="65afb196693a8d18" culture="neutral" />
        <bindingRedirect oldVersion="1.6.0.0-1.6.2.0" newVersion="1.6.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
      <assemblyIdentity name="Sybase.Modeling.Net.Serialization" publicKeyToken="65afb196693a8d18" culture="neutral" />
        <bindingRedirect oldVersion="1.6.0.0-1.6.2.0" newVersion="1.6.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sybase.Modeling.Data" publicKeyToken="65afb196693a8d18" culture="neutral" />
        <bindingRedirect oldVersion="1.6.0.0-1.6.2.0" newVersion="1.6.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sybase.Modeling.Language.Foundation" publicKeyToken="65afb196693a8d18" culture="neutral" />
        <bindingRedirect oldVersion="1.6.0.0-1.6.2.0" newVersion="1.6.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sybase.Modeling.Language.Templating" publicKeyToken="65afb196693a8d18" culture="neutral" />
        <bindingRedirect oldVersion="1.6.0.0-1.6.2.0" newVersion="1.6.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sybase.Modeling.Reporting" publicKeyToken="65afb196693a8d18" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.6.2.0" newVersion="1.6.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>