<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://www.sap.com/power_designer/solution_manager_addin/configuration" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!-- candidate languages -->
  <languages>
    <language name="English" code="en" />
    <language name="French" code="fr" />
    <language name="Chinese" code="zh" />
    <language name="Chinese Traditional" code="zf" />
    <language name="Japanese" code="ja" />
    <language name="German" code="de" />
    <language name="Portuguese" code="pt" />
    <language name="Russian" code="ru" />
    <language name="Spanish" code="es" />
  </languages>
  
  <!-- candidate client versions -->
  <versions>
    <version client-version="1.1.0.0" client-version-name="Business Process Blueprinting for SAP Solution Manager 1.0 SP02" server-version-name="SAP Solution Manager 7.1 SP07" />
    <version client-version="1.1.1.0" client-version-name="Business Process Blueprinting for SAP Solution Manager 1.0 SP03" server-version-name="SAP Solution Manager 7.1 SP08 and above versions" />
  </versions>

  <!-- use fixed value of projectOCV -->
  <fixed-project-ocv>true</fixed-project-ocv>
  
  <!-- simulate business blueprint client -->
  <simulate-bpb-user-agent>true</simulate-bpb-user-agent>

  <!-- disable proxy -->
  <disable-proxy>true</disable-proxy>
  
  <!-- disable cookies -->
  <disable-cookies>true</disable-cookies>
  
  <!-- keep alive -->
  <keep-alive>true</keep-alive>
  
</configuration>